<!DOCTYPE html>
<html>
<head>
	<title>Página inicial</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
	<header>
		<nav>
			<a href="/">Página inicial</a> |
			<a href="/cursos">Todos os cursos</a> |
			<a href="/curso/devweb">Desenvolvimento Web</a> |
			<a href="/curso/poo">Programação Orientada a Objetos</a> |
			<a href="/alunos">Média dos alunos</a>
		</nav>
	</header>
	<main>
		<h1>{{ titulo }}</h1>
		<p>Página inicial do projeto que demonstra o uso de template tags.</p>
	</main>
	<footer>
		<p>Rodapé do projeto de demonstração.</p>
	</footer>
</body>
</html>
